---

const PLATOSDERECHA = [{
	name: 'Platos Elaborados',
	img: 'elaborado2.jpeg'
},{
	name: 'Pastas',
	img: 'pasta2.jpeg'
},{
	name: 'Pizzas',
	img: 'pizza2.jpeg'
}]

const PLATOSIZQUIERDA = [{
	name: 'Minutas',
	img: 'milanesa2.jpeg'
},{
	name: 'Hamburguesas',
	img: 'hamburguesa.webp'
},{
	name: 'Ensaladas',
	img: 'ensalada.webp'
}]
---
<div class="mt-4">
	<div class="text-2xl w-[100%] lg:grid lg:grid-cols-2 ">
		<div class="px-4">
		{PLATOSDERECHA.map( plato =>(
			<div class="lg:w-[85%] text-center font-thin font-mono"> 
				<p class="text-4xl mt-14">
					{plato.name}
					<div class="mt-5 w-[65%] lg:w-[25vw] lg:ml-0 ml-[18%] h-3 bg-gradient-to-r from-[#800000] to-[#2d0000]"></div>	
				</p>	
				<div class="flex justify-center"> 
							<img class="rounded-xl shadow-2xl mt-10 h-[350px] w-[520px]" src={plato.img} />
						</div>
			</div>
		))}
		</div>
		<div class="lg:mt-32">
			{PLATOSIZQUIERDA.map( plato =>(
				<div class="lg:w-[85%] lg:ml-[10%] text-center font-thin font-mono"> 
					<p class="text-4xl mt-14">
						{plato.name}
						<div class="mt-5 w-[65%] lg:w-[25vw] lg:ml-0 ml-[18%] h-3 bg-gradient-to-r from-[#800000] to-[#2d0000]"></div>							</p>	
						<div class="flex justify-center"> 
							<img class="rounded-xl shadow-2xl mt-10 h-[350px] w-[520px]" src={plato.img} />
						</div>
				</div>
			))}
		</div>
	</div>
</div>

<style>
	h1{
		font-family: 'Garamond' ;
	}
</style>