---
import Hoja from "./Icons/Hoja.astro"
---

	<div class="">
		<div class="flex justify-center">
			<Hoja class="size-20 mt-5 animate-spin drop-shadow-[2px_2px_0px_rgba(255,0,0,0.5)]"/>
			<h1 class="ml-5 animate-bounce text-[15vw] sm:text-[11vw] md:text-[7vw] leading-[1.2] text-[#D9D9D9] drop-shadow-[3px_3px_0px_rgba(255,0,0,0.5)] font-bold">
				Nuestra
				<span class="text-[#821414]">Carta</span>
			  </h1>
			<!-- <h1 class="text-7xl mt-5 ml-5 animate-bounce">
				Nuestra Carta
			</h1> -->
			<Hoja class="size-20 mt-5 ml-5 animate-spin drop-shadow-[2px_2px_0px_rgba(255,0,0,0.5)]"/>
		</div>
		<p class="mt-3 text-lg"> 
			¡Échale un ojo a lo que tenemos para ofrecerte!
		</p>
		<div class="flex justify-center space-x-8 mt-10">
			<a class="w-[35%]" href="/carta1.jpg" title="HTML link image thumbnail carta1">
				<img class="rounded-xl opacity-75 hover:scale-110 transition" src="/thumbCarta1.webp"/>
			</a>
			<a class="w-[35%]" target="_self" href="/carta2.jpg"  title="HTML link image thumbnail carta2">
				<img class="rounded-xl opacity-75 hover:scale-110 transition" src="/thumbCarta2.webp"/>
			</a>
		</div>