<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-3">
    <div class="w-full mx-auto max-w-screen-xl p-4 px-10 flex items-center justify-between">
      <span class="text-sm text-center mt-3 text-gray-200">© 2024 <a download="Tomas Silvente - CV.pdf" href="/projects/CV.pdf" class="hover:underline">Tomás Silvente</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-200 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline  me-6">Inicio</a>
        </li>
        <li>
            <a href="#carta" class="hover:underline  me-6">Carta</a>
        </li>
        <li>
            <a href="#nosotros" class="hover:underline  me-6">Nosotros</a>
        </li>
    </ul>
    </div>
</footer>
