---
---

<header class="flex xs:w-full xl:w-[1120px] mx-auto">
    <a class="w-1/5">
        <img src="/logotipo.png" class="w-[100px]"/>
    </a>
    <nav class="flex w-3/5 justify-center items-center flex-row gap-x-3 ml-3 sm:ml-0 sm:gap-x-10 opacity-80 font-semibold text-white">
        <a href="#top">Inicio</a>
        <a href="#platos">Platos</a>
        <a href="#carta">Carta</a>
    </nav>
</head>